{% extends "base.html" %}

{% block breadcrumb %}
<li>
    <a href="">Tentang Saya</a>
</li>
{% endblock %}

{% block content %}

					<div class="page-header position-relative">
						<h1>
							Ciptro
							<small>
								<i class="icon-double-angle-right"></i>
								Nyicip-nyicip Distro 
							</small>
						</h1>
					</div><!--/.page-header-->

					<div class="row-fluid">
						<!--PAGE CONTENT BEGINS HERE-->

						<div class="row-fluid">
							<div class="span6">
								<h4>Headings &amp; Paragraphs</h4>
                                                        </div>
                                                </div>
					</div><!--/row-->
				
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block extra_js %}
{% endblock %}