<ul class="nav nav-list">
        <li>
                <a href="{% url 'home'%}">
                        <i class="icon-dashboard"></i>
                        <span>Dashboard</span>
                </a>
        </li>
        <li>
                <a href="{% url 'nyicip'%}">
                        <i class="icon-beaker "></i>
                        <span>Cicipan</span>
                </a>
        </li>
        <li>
                <a href="{% url 'kenal'%}">
                        <i class="icon-bullhorn"></i>
                        <span>Tentang Saya</span>
                </a>
        </li>
</ul>