{% extends "base.html" %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="row-fluid">
    <h3 class="header smaller lighter blue">Daftar Icip-icip</h3>
    <div class="table-header">
            Cicip Cicip Distro
    </div>

    <table id="table_report" class="table table-striped table-bordered table-hover">
            <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Versi</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
            </thead>

            <tbody>{% for vm in vm_list %}
                    <tr>
                        <td>{{ vm.distro_version.distro }}</td>
                        <td>{{ vm.distro_version.version }}</td>
                        <td>
                            {% if vm.state == "down"%}
                            <span class="label label-inverse">Mati</span>
                            {% else %}
                            <span class="label label-success">Hidup</span>
                            {% endif %}
                        </td>
                        <td class="td-actions">
                                <div class="hidden-phone visible-desktop btn-group">
                                        {% if vm.state == "up"%}
                                        <a href="{% url 'nonton_cicip' vm.id %}" class="btn btn-mini btn-success">
                                                <i class="icon-cloud-upload bigger-120"></i>
                                        </a>
                                    {% endif %}
                                    
                                    <a href="{% url 'hapus_cicip' vm.id %}" class="btn btn-mini btn-danger">
                                                <i class="icon-trash bigger-120"></i>
                                    </a>
                                </div>
                        </td>
                </tr>
                    {% endfor %}
            </tbody>
    </table>
</div>

{% endblock %}

{% block plugin_js %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jquery.dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/js/jquery.slimscroll.min.js"></script>
<script src="/static/js/jquery.easy-pie-chart.min.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>
<script src="/static/js/flot/jquery.flot.min.js"></script>
<script src="/static/js/flot/jquery.flot.pie.min.js"></script>
<script src="/static/js/flot/jquery.flot.resize.min.js"></script>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(function() {
            var oTable1 = $('#table_report').dataTable( {
            "aoColumns": [
          null,null,{ "bSortable": false },{ "bSortable": false }
            ] } );
    })
</script>

{% endblock %}